body {
    background-color: grey;
}
h2{
    text-align: center;
}

.exercices{
    border-style: solid;
    border-color: gold;
    border-radius: 8px;
    margin-right: 580px;
    margin-left: 580px;
}
h3{
    text-align: center;
    
}
button{
    margin-left: 105px;
}
.empty{
 visibility: hidden;   
}
